<section class="card border-info">
    <div class="card-header bg-info text-white">
        <h1 class="card-title">Datos del alumno</h1>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-2 text-center">
                <a href="https://es.gravatar.com/danielriveraayala" target="_blank"><img class="img-thumbnail border-dark" src="https://s.gravatar.com/avatar/475baa89e34f0188f70191187ef05e7e?s=100"></a>
            </div>
            <div class="col-5">
                <p>Nombre: Daniel Esaú Rivera Ayala</p>
                <p>Maestría: Dirección e Ingeniería de Sitios Web</p>
                <p>Correo Electrónico: danielriveraayala@gmail.com</p>
            </div>
        </div>
    </div>
</section>
