<div class="jumbotron mt-4">
    <h1 class="display-4">Practica UNIR</h1>
    <p class="lead">Poner en práctica las capacidades de diseño y desarrollo de APIs basadas en servicios web adquiridos
        durante el tema anterior. Para ello, el alumno debe diseñar y desarrollar unas aplicaciones web que ofrezcan
        APIs de servicios web REST, el desarrollo se llevará a cabo usando Node.js.</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" target="_blank" href="https://github.com/danielriveraayala/nodejs-app-de-notas" role="button">Código fuente <i class="fab fa-github"></i></a>
</div>
