{{#each errors}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{text}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/each}}

<div class="col-md-4 mx-auto">
  <div class="card border-primary">
    <div class="card-header bg-primary text-white">
      <h3 class="card-title">Editar nota</h3>
    </div>
    <div class="card-body">
      <form action="/notes/edit-note/{{note._id}}?_method=PUT" method="POST">
        <input type="hidden" name="_method" value="PUT">
        <div class="form-group">
          <input type="text" name="title" placeholder="Titulo" class="form-control" value="{{note.title}}"/>
        </div>
        <div class="form-group">
          <textarea name="description" placeholder="Descripción" class="form-control" style="resize: none">{{note.description}}</textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">
              <i class="fas fa-sync-alt"></i> <b>Actualizar</b>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
