<div class="col-md-4 mx-auto">
  <div class="card text-center border-primary">
    <div class="card-header bg-primary text-white">
      <h3 class="card-title">Nueva nota</h3>
    </div>
    <div class="card-body">
      <form action="/notes/new-note" method="POST">
        <div class="form-group">
          <input type="text" name="title" class="form-control" placeholder="Titulo" autofocus/>
        </div>
        <div class="form-group">
          <textarea name="description" class="form-control" placeholder="Descripción" style="resize: none"></textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">
              <i class="far fa-save"></i> <b>Guardar</b>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

